{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for message in app.flashes('notice') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{ message }}
                </div>
    {% endfor %}
    <h3 class="mt-5 mb-5">Lista Proveedores</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo</th>
                <th scope="col">Activo</th>
            </tr>
        </thead>
        <tbody>
        {% for data in list %}
            <tr>
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.nombre }}</td>
                <td>{{ data.correo }}</td>
                <td>{{ data.telefono }}</td>
                <td>{{ data.tipo }}</td>
                <td>{{ data.activo }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('update',{'id': data.id }) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ path('delete',{'id': data.id }) }}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('create') }}">Crear</a>
</div>
{% endblock %}
